<div class="example">
    <fieldset>
        <legend>
            <table>
                <tr>
                    <td>{{title}} :::::::: </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp; <div ng-show="app.PRMS.tf || app.PRMS.bf"
                            class="input-control checkbox"><label class="fg-red"><input name="bl_tva" type="checkbox"
                                    ng-model="appvente.bl_tva" ng-checked="appvente.bl_tva" ng-change="" /><span
                                    class="check"></span> TVA (18%) ? </label></div>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp; <div ng-show="app.PRMS.bf" class="input-control checkbox"><label
                                class="fg-red"><input name="bl_bic" type="checkbox" ng-model="appvente.bl_bic"
                                    ng-checked="appvente.bl_bic" ng-change="" /><span class="check"></span> BIC (2%) ?
                            </label></div>
                    </td>
                </tr>
            </table>
        </legend>
        <table width="100%" border="0" style="padding:2px;" cellsacing="10">
            <tr>
                <td colspan="2"><label>Date Vente</label>
                    <div class="input-control text span2"><input type="text" placeholder="jj/mm/aaaa" name="date_vnt"
                            ng-disabled="!app.PRMS.defdat" ng-model="appvente.date_vnt" class="fg-orange"></div>
                </td>
                <td><label>&nbsp;</label>
                    <div ng-show="app.PRMS.pg" class="input-control checkbox"><label><input name="bl_gros"
                                type="checkbox" ng-model="appvente.bl_gros" ng-checked="appvente.bl_gros"
                                ng-change="" /><span class="check"></span> Vendre au prix en gros ? </label></div>
                </td>
                <td colspan="2"><label>Client[<a href="#/prmclt/0" title="Ajouter/Enregistrer un client"
                            target="_BLANK">+</a>] &nbsp;&nbsp;<span class="input-control text span2" style=""><input
                                ng-model="ft" placeholder="filtre" type="text" ng-focus=""></span></label>
                    <div class="input-control select span5" data-role="input-control"><select name='vnt_clt'
                            ng-model="appvente.vnt_clt"
                            ng-options="client.nom_clt |uppercase for client in clients|filter:ft|orderBy:'nom_clt':false"
                            ng-change="crdtenc();focusField('art_appro_art');" required></select><span
                            style="position:absolute;" title="Actualiser la liste des clients" class="icon-cycle"
                            ng-click="gclt();app.refreshcltCache();"></span></div>
                </td>
            </tr>
            <tr ng-if="!app.PRMS.cat">
                <td colspan="3"><label>Article <span
                            ng-if="app.PRMS.apu && appvente.art_appro_art.prix_mini_art>=0">(PU:<span
                                class="fg-red">{{appvente.art_appro_art.prix_mini_art|currency}}</span>|gros:<span
                                class="fg-red">{{appvente.art_appro_art.prix_gros_art|currency}}</span>)</span>
                        &nbsp;&nbsp;<span class="input-control text span2" style=""><input ng-model="filterItem"
                                placeholder="filtre" type="text" ng-focus=""></span></label>
                    <div class="input-control select span6" data-role="input-control"><select name='art_appro_art'
                            ng-model="appvente.art_appro_art"
                            ng-options="article.nom_art | uppercase for article in articles|filter:filterItem|orderBy:'nom_art':false"
                            ng-change="getStocka(appvente.art_appro_art.id_art,0);focusField('qte_appro_art')"
                            ng-disabled="!appvente.vnt_clt" required></select><span style="position:absolute;"
                            title="Actualiser la liste des articles" class="icon-cycle"
                            ng-click="loadArticlesForSell()"></span></div>
                </td>
                <td><label>Qte | dispo : <span class="fg-red">{{stock.qte_stk}}</span><span
                            class="fg-red">/{{stock.qteg}}</span></label>
                    <div class="input-control text span2" data-role="input-control"><input
                            style='font-size:16px;padding:5px;' class="fg-cobalt" name="qte_appro_art"
                            placeholder="Quantite" type="number" ng-model="appvente.qte_appro_art"
                            ng-disabled="!appvente.vnt_clt || requestingArt"
                            ng-keyup="focusEnter($event,'prix_var')"><input style='font-size:16px;padding:5px;'
                            ng-show="app.PRMS.pv" class="fg-cobalt" name="prix_var" placeholder="PU" type="number"
                            data-hint='Entrer le prix de vente unitaire ici si different du prix minimum/gros par defauts'
                            data-hint-position='bottom' ng-model="appvente.prix_var"
                            ng-keyup="focusEnterAdd($event,'art_appro_art')"
                            ng-disabled="!appvente.vnt_clt || requestingArt"></div><br /><label
                        style="margin-top:8px;">&nbsp;</label><button class="success"
                        ng-click="add(appvente.art_appro_art);" ng-disabled=""><span class="icon-plus-2"></span>
                        Ajouter</button>
                </td>
                <td>
                    <div align="right"><button class="primary span2" ng-click="save(items);"
                            ng-disabled="items.length==0 || !appvente.vnt_clt || djob"><span
                                class="icon-checkmark"></span> Valider la Facture/Bl</button><br /><button
                            class="inverse span2" style="margin-top:8px;" type="reset" class="button"
                            ng-click='emptyForm();clearAr()'><i class="icon-undo on-left"></i>Annuler la Facture/Bl
                        </button></div>
                </td>
            </tr>
            <tr ng-if="app.PRMS.cat">
                <td colspan="2"><input class="fg-cobalt span2" name="ref_fact_vnt" placeholder="No de reference"
                        type="hidden" ng-model="appvente.ref_fact_vnt"><label>Categorie[ <a href="#/prmcat/0"
                            title="Ajouter/Creer une categorie" target="_BLANK">+</a>] &nbsp;&nbsp;<span
                            class="input-control text span2" style=""><input ng-model="filterItemcat"
                                placeholder="filtre" type="text"></span></label>
                    <div class="input-control select span4" data-role="input-control"><select ng-model="mCategorie"
                            ng-options="categorie.id_cat as categorie.nom_cat |uppercase for categorie in categories|filter:filterItemcat|orderBy:'nom_cat':false"
                            ng-change="loadArticlesOfCategorie(0,mCategorie)" ng-click="loadExtCategories(0)"
                            ng-disabled="!appvente.vnt_clt"></select><span style="position:absolute;"
                            title="Actualiser la liste des categories" class="icon-cycle"
                            ng-click="app.refreshextcatmagCache()"></span></div>
                </td>
                <td colspan=""><label>Art <span
                            ng-if="app.PRMS.apu && appvente.art_appro_art.prix_mini_art>=0">(PU:<span
                                class="fg-red">{{appvente.art_appro_art.prix_mini_art|currency}}</span>|gros:<span
                                class="fg-red">{{appvente.art_appro_art.prix_gros_art|currency}}</span>)</span>
                        &nbsp;&nbsp;<span class="input-control text span2" style=""><input ng-model="filterItem"
                                placeholder="filtre" type="text" ng-focus=""></span></label>
                    <div class="input-control select span6" data-role="input-control"><select name='art_appro_art'
                            ng-model="appvente.art_appro_art"
                            ng-options="article.nom_art | uppercase for article in articles|filter:filterItem|orderBy:'nom_art':false"
                            ng-change="getStocka(appvente.art_appro_art.id_art,0);focusField('qte_appro_art')"
                            ng-disabled="!appvente.vnt_clt" required></select><span style="position:absolute;"
                            title="Actualiser la liste des articles" class="icon-cycle"
                            ng-click="loadArticlesForSell()"></span></div>
                </td>
                <td><label>Qte | dispo : <span class="fg-red">{{stock.qte_stk}}</span><span
                            class="fg-red">/{{stock.qteg}}</span></label>
                    <div class="input-control text span2" data-role="input-control"><input
                            style='font-size:16px;padding:5px;' class="fg-cobalt" name="qte_appro_art"
                            placeholder="Quantite" type="number" ng-model="appvente.qte_appro_art"
                            ng-disabled="!appvente.vnt_clt || requestingArt"
                            ng-keyup="focusEnter($event,'prix_var')"><input style='font-size:16px;padding:5px;'
                            ng-show="app.PRMS.pv" class="fg-cobalt" name="prix_var" placeholder="PU" type="number"
                            data-hint='Entrer le prix de vente unitaire ici si different du prix minimum/gros par defauts'
                            data-hint-position='bottom' ng-model="appvente.prix_var"
                            ng-keyup="focusEnterAdd($event,'art_appro_art')"
                            ng-disabled="!appvente.vnt_clt || requestingArt"></div><br /><label
                        style="margin-top:8px;">&nbsp;</label><button class="success"
                        ng-click="add(appvente.art_appro_art);" ng-disabled=""><span class="icon-plus-2"></span>
                        Ajouter</button>
                </td>
                <td>
                    <div align="right"><button class="primary span2" ng-click="save(items);"
                            ng-disabled="items.length==0 || !appvente.vnt_clt || djob"><span
                                class="icon-checkmark"></span> Valider la Facture/Bl</button><br /><button
                            class="inverse span2" style="margin-top:8px;" type="reset" class="button"
                            ng-click='emptyForm();clearAr()'><i class="icon-undo on-left"></i>Annuler la Facture/Bl
                        </button></div>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <fiedlset>
                        <legend>Liste des articles </legend>
                        <div class="col-md-12" ng-show="items.length> 0"
                            style="min-height: 300px;max-height: 300px;overflow: auto;">
                            <table class="table striped bordered condensed">
                                <thead>
                                    <th class='text-left'>Code&nbsp;</th>
                                    <th class='text-left'>Libelle &nbsp;</th>
                                    <th class='text-left'>Categorie&nbsp;</th>
                                    <th class='text-left'>Qte&nbsp;</th>
                                    <th class='text-left'>PU &nbsp;</th>
                                    <th class='text-left'>Montant &nbsp;</th>
                                    <th class='text-left'>Action&nbsp;</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in items | orderBy:''" class="liste">
                                        <td>{{data.code_art|uppercase}}</td>
                                        <td>{{data.nom_art|uppercase}}</td>
                                        <td>{{data.nom_cat|uppercase}}</td>
                                        <td>{{data.qte}}</td>
                                        <td>{{data.prix_mini_art | currency}}</td>
                                        <td>{{data.mnt | currency}}</td>
                                        <td><a href ng-click="items.splice($index, 1);emptyArticle()"
                                                class="btn">&nbsp;<i class="icon-cancel-2"></i>&nbsp; Retirer</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" align="right">
                                            <h3><span>Total HT:</span></h3>
                                        </td>
                                        <td>
                                            <h3><span class="fg-red"> {{ (getTotal()-appvente.remise) | currency
                                                    }}</span></h3>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr ng-if="appvente.bl_tva || appvente.bl_bic ">
                                        <td colspan="5" align="right">
                                            <h3><span>TVA ({{app.PRMS.tva*100}}%):</span></h3>
                                        </td>
                                        <td>
                                            <h3><span class="fg-red"> {{ (getTotal()-appvente.remise)*app.PRMS.tva |
                                                    currency }}</span></h3>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr ng-if="appvente.bl_bic">
                                        <td colspan="5" align="right">
                                            <h3><span>BIC ({{app.PRMS.bic*100}}%)</span></h3>
                                        </td>
                                        <td>
                                            <h3><span class="fg-red"> {{
                                                    ((getTotal()-appvente.remise)+(getTotal()-appvente.remise)*app.PRMS.tva)*app.PRMS.bic
                                                    | currency }}</span></h3>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr ng-if="appvente.bl_tva || appvente.bl_bic">
                                        <td colspan="5" align="right">
                                            <h3><span>Total TTC:</span></h3>
                                        </td>
                                        <td>
                                            <h3><span class="fg-red"> {{
                                                    (((getTotal()-appvente.remise)+(getTotal()-appvente.remise)*app.PRMS.tva))+(((getTotal()-appvente.remise)+(getTotal()-appvente.remise)*app.PRMS.tva)*app.PRMS.bic)*appvente.bl_bic
                                                    | currency }}</span></h3>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" align="right">
                                            <h3><span>AVANCE ?</span> :</h3>
                                        </td>
                                        <td><input style='font-size:16px;padding:5px;font-weight: bold;'
                                                class="fg-green" name="avance" placeholder="0" type="number"
                                                title="Effectuez une avance ?" ng-model="appvente.avance"
                                                ng-disabled="!appvente.vnt_clt" ng-change="validAvance()"></td>
                                        <td align="right">
                                            <h3><span>Remise ?</span> :</h3>
                                        </td>
                                        <td><input style='font-size:16px;padding:5px;font-weight: bold;'
                                                class="fg-crimson" name="remise" placeholder="0" type="number"
                                                title="Effectuez une remsie?" ng-model="appvente.remise"
                                                ng-disabled="!appvente.vnt_clt" ng-change="validRmse()"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12" ng-show="items.length == 0">
                            <div class="col-md-12">
                                <h7>Aucun article ... !</h7>
                            </div>
                        </div>
                    </fiedlset>
                </td>
            </tr>
        </table>
    </fieldset>
</div>