<div class="grid">
    <div class="row">
        <div>
            <nav class="navigation-bar white border-bottom">
                <div class="navigation-bar-content"><a href="#/stkba" class="element"><span class="icon-list"></span>
                        Liste BE </a><a ng-if="app.userPfl.mg!=0" href="#/stkba/0" class="element bg-lightOrange"><span
                            class="icon-plus"></span>&nbsp;<span class="icon-copy"></span> Nouveau Bon d'entree </a><a
                        ng-if="!app.PRMS.resa" href="#/anapp" class="element"><span class="icon-undo"></span>
                        Details/Annuler </a><a href="#/etaapp" class="element"><span class="icon-stats-2"></span> Etat
                        Approv </a><span class="element-divider"></span></div>
            </nav>
        </div>
    </div>
</div>
<div class="example">
    <form name="form">
        <fieldset>
            <legend>{{title}} ::: Quantite actuelle en stock de l'article est : <span
                    class="fg-red">{{stock.qte_stk}}</span>::: prix mini : <span class="fg-green">{{prices.prix_mini |
                    currency}}</span> ::: prix gros : <span class="fg-crimson">{{prices.prix_gros | currency}}</span>
            </legend>
            <table width="100%" border="0" style="padding:2px;" cellsacing="10">
                <tr>
                    <td><label>Bons d'entrees[<a href="#/stkba/0" title="Ajouter/Creer un bon"
                                target="_BLANK">+</a>]</label>
                        <div class="input-control select span4" data-role="input-control"><select class='fg-crimson'
                                name='appro_appro_art' ng-model="appstock.appro_appro_art"
                                ng-options="approvisionnement.id_appro as approvisionnement.bon_liv_appro + ' Du ' + approvisionnement.date_appro for approvisionnement in approvisionnements"
                                ng-click="getappo()" ng-change="gae()" required></select></div>
                                <br>
                        <a class="button success" align="left" style="margin-left:50px;"
                            href="#/stkinv-inventaire/{{appstock.appro_appro_art}}"><span class="icon-file-excel"></span>Importer l'inventaire</a>
                    </td>
                    <td><label ng-show="app.PRMS.cat">Categorie[<a href="#/prmcat/0" title="Ajouter/Creer une categorie"
                                target="_BLANK">+</a>] &nbsp;&nbsp;<span class="input-control text span2"
                                style=""><input ng-model="filterItemcat" placeholder="filtre"
                                    type="text"></span></label>
                        <div ng-show="app.PRMS.cat" class="input-control select span4" data-role="input-control"><select
                                ng-model="mCategorie"
                                ng-options="categorie.id_cat as categorie.nom_cat|uppercase for categorie in categories|filter:filterItemcat"
                                ng-change="loadArticlesOfCategorie(mCategorie)" ng-click="getcat()"></select><span
                                style="position:absolute;" title="Actualiser la liste des categories articles"
                                class="icon-cycle" ng-click="app.refreshcatCache()"></span></div><label>Article[<a
                                href="#/prmart/0" title="Ajouter/Creer un article" target="_BLANK">+</a>]
                            &nbsp;&nbsp;<span class="input-control text span2" style=""><input ng-model="filterItem"
                                    placeholder="filtre" type="text"></span></label>
                        <div class="input-control select span4" data-role="input-control"><select name='art_appro_art'
                                ng-model="appstock.art_appro_art"
                                ng-options="article.id_art as article.nom_art|uppercase for article in articles|filter:filterItem|orderBy:'nom_art':false"
                                ng-change="getStock(appstock.art_appro_art,appstock.mag_appro_art)"
                                required></select><span style="position:absolute;"
                                title="Actualiser la liste des articles" class="icon-cycle"
                                ng-click="loadArticlesOfCategorie(mCategorie)"></span></div>
                    </td>
                    <td rowspan="3">
                        <div class="span5">
                            <div class="notice marker-on-bottom " style="padding:5px;font-size:10px;;">
                                <div class="fg-white">REMARQUE: Definir les nouveaux prix (detail,gros) de ce article
                                    pour ce magasin si different(ou changement) des prix ci dessus .Laissez vide pour
                                    conserver les valeurs du dessus</div>
                            </div>
                        </div><label>Prix minimum</label>
                        <div class="input-control text span3" data-role="input-control"><input
                                style='font-size:16px;padding:5px;' class="fg-cobalt span2" name="prix_mini_art_mag"
                                placeholder="Prix mini" type="number" ng-model="appstock.prix_mini_art_mag"></div>
                        <label>Prix gros</label>
                        <div class="input-control text span3" data-role="input-control"><input
                                style='font-size:16px;padding:5px;' class="fg-cobalt span2" name="prix_gros_art_mag"
                                placeholder="Prix gros" type="number" ng-model="appstock.prix_gros_art_mag"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Magasin </label>
                        <div class="input-control select span4" data-role="input-control"><select name='mag_appro_art'
                                ng-model="appstock.mag_appro_art"
                                ng-options="magasin.id_mag as magasin.nom_mag|uppercase for magasin in magasins"
                                ng-change="getStock(appstock.art_appro_art,appstock.mag_appro_art)" required></select>
                        </div>
                    </td>
                    <td><label>Quantit&eacute;</label>
                        <div class="input-control text span3" data-role="input-control"><input
                                style='font-size:16px;padding:5px;' class="fg-cobalt" name="qte_appro_art"
                                placeholder="Qte" type="number" ng-model="appstock.qte_appro_art" required></div>
                        <br /><label>Prix Achat</label>
                        <div class="input-control text span3" data-role="input-control"><input
                                style='font-size:16px;padding:5px;' class="fg-blue" name="prix_appro_art"
                                placeholder="Prix" type="number" ng-model="appstock.prix_appro_art"></div>
                    </td>
                    <td></td>
                </tr>
            </table><br /><button class="primary span4" ng-click="save(appstock);"
                ng-disabled="form.$invalid || djob"><span class="icon-checkmark"></span> Enregistrer</button><button
                class="inverse span4" type="reset" class="button"><i class="icon-undo on-left"></i>Annuler
            </button><br /><br />
            <div style='border-bottom:1px solid #ccc;'></div><br />
            <div style="max-height: 230px;overflow: auto;">
                <table class="table striped bordered condensed" width="100%"
                    style="padding:5px;border:1px solid #ccc;border-collapse: collapse;" cellsacing="10">
                    <tr style="border:1px solid #ccc;background-color:#eee;">
                        <th style="text-align: left;">&nbsp;Date</th>
                        <th style="text-align: left;">&nbsp;Designation</th>
                        <th style="text-align: left;">&nbsp;Qte</th>
                        <th style="text-align: left;">&nbsp;Prix</th>
                    </tr>
                    <tr style="border:1px solid #ccc;" ng-repeat="data in articlesentrees | filter:filterText"
                        class="liste">
                        <td style="text-align: left;">&nbsp;{{data.date_appro_art|uppercase}} </td>
                        <td style="text-align: left;">&nbsp;{{data.nom_art|uppercase}} </td>
                        <td style="text-align: left;">&nbsp;{{data.qte_appro_art}}</td>
                        <td style="text-align: left;">&nbsp;{{data.prix_appro_art}}</td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </form>
</div>