<a href="#/fctvntcrdt" class="command-button warning span2 sngs-clear "><i class="icon-newspaper on-left "></i> Factures
    credits </a><a href="#/fctvnttva" class="command-button warning span2 sngs-clear "><i
        class="icon-newspaper on-left "></i> Factures TVA </a><a ng-if="app.PRMS.grt" href="#/fctvntgrt"
    class="command-button bg-amber span2 sngs-clear "><i class="icon-newspaper on-left "></i> Factures garanties </a>
    
<a ng-if="!app.userPfl.droitValidateurDemande" href="#/demande" class="command-button span2 bg-green fg-white sngs-clear"><i class="icon-cc on-left"></i> Expression de besoin </a>
<a ng-if="app.userPfl.droitValidateurDemande" href="#/demandes-validation" class="command-button span2 bg-green fg-white sngs-clear"><i class="icon-cc on-left"></i> Validation des demande </a>
