<div class="grid">
    <div class="row">
        <div>
            <nav class="navigation-bar white border-bottom">
                <div class="navigation-bar-content"><a class="element btn_search"><span class="icon-search"></span> Nouveau Critere de recherche </a><span class="element-divider"></span><a ng-if="app.userPfl.mg!=0" href="#/vers" class="element btn_search"><span class="icon-plus"></span>&nbsp;<span class="icon-cabinet"></span> Nouv Versement </a>
                    <span
                        class="element-divider"></span><a ng-if="app.userPfl.mg!=0" href="#/dep" class="element btn_search"><span class="icon-plus"></span>&nbsp;<span class="icon-medal-2"></span> Nouv Depense </a><a href="#/etadep" class="element btn_search"><span class="icon-stats"></span> Etat Depenses </a></div>
            </nav>
        </div>
    </div>
</div>
<div class="grid">
    <div class="row">
        <div>
            <div class="example">
                <fiedlset>
                    <legend>{{title}} | Filtre : <a ng-hide="versements.length == 0" class="button warning" align="right" style="float:right;margin-right:50px;" href="./app/raps/decaiss-vers.php?d={{search.date_deb}}&f={{search.date_fin}}&cs={{search.user}}&bnk={{search.bank_vrsmnt}}"
                            target="_BLANK"><span class="icon-printer"></span>{{app.txtprint}}</a>
                        <div class="input-control text span4" style='float: right;'><input ng-model="filterText" placeholder="filtrer" type="text"></div>
                    </legend>
                    <div class="col-md-12" ng-show="versements.length> 0" style="min-height: 400px;max-height: 400px;overflow: auto;">
                        <table class="table striped bordered condensed hovered">
                            <thead>
                                <th class='text-left'>Date&nbsp;</th>
                                <th class='text-left'>banques&nbsp;</th>
                                <th class='text-left'>Montant&nbsp;</th>
                                <th class='text-left'>Details &nbsp;</th>
                                <th class='text-left'>Caissier&nbsp;</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in filtered=(versements| filter:filterText)" class="liste">
                                    <td>{{data.date_vrsmnt |date:'dd/MM/yyyy' }}</td>
                                    <td>{{data.nom_bank |uppercase }}</td>
                                    <td>{{data.mnt_vrsmnt | currency}}</td>
                                    <td>{{data.obj_vrsmnt |lowercase}}</td>
                                    <td>{{data.code_caissier_vrsmnt |uppercase}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="right">
                                        <h3><span>Total Des versement :</span></h3>
                                    </td>
                                    <td>
                                        <h3><span class="fg-red"> {{ getTotal() | currency }} F CFA</span></h3>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" ng-show="versements.length == 0">
                        <div class="col-md-12">
                            <h4>Aucun versement ... !</h4>
                        </div>
                    </div>
                </fiedlset>
            </div>
        </div>
        <div class="example" id="searchPannel">
            <fieldset>
                <legend><a class="toggle_search" href=""><span class=" icon-arrow-right-3"></span></a> Nouveau Filtre</legend>
                <form name="form">
                    <div style="max-height:500px;overflow:auto;">
                        <table width="100%">
                            <tr>
                                <td>
                                    <div class="stagger"><label>Date du/debut</label>
                                        <div class="input-control text span2"><input type="text" placeholder="jj/mm/aaaa" name="date_deb" ng-model="search.date_deb"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="stagger"><label>Date Fin </label>
                                        <div class="input-control text span2"><input type="text" name="date_fin" ng-model="search.date_fin" placeholder="jj/mm/aaaa"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="stagger"><label>Caissier</label>
                                        <div class="input-control select span4" data-role="input-control"><select ng-model="search.user" ng-options="user.code_user as user.login_user | uppercase for user in users" ng-click="gus()"><option value=""></option></select></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="stagger"><label>Banque</label>
                                        <div class="input-control select span4" data-role="input-control"><select ng-model="search.bank_vrsmnt" ng-options="banque.id_bank as banque.nom_bank|uppercase for banque in banques" ng-click="gbq()"><option value=""></option></select></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div><button class="primary" ng-click="searchF();"><i class="icon-search on-left on-left-more"></i>Valider</button> &nbsp; <button class="inverse" type="reset" class="button"><i class="icon-undo on-left on-left-more"></i> Annuler </button></form>
            </fieldset>
        </div>
    </div>
</div>
<script>
    $(function() {
        $(".toggle_search").on("click", function() {
            $("#searchPannel").css("right", "-700px")
        });
        $(".btn_search").on("click", function() {
            $("#searchPannel").css("right", "0")
        })
    });
</script>