<div class="example">
    <form name="form">
        <fieldset>
            <legend>{{title}} | Client : <span class="fg-lightOlive">{{creance_details.nom_clt}}</span> | Montant credit
                : <span class="fg-red" ng-hide='!creance_details.crdt_fact'>{{creance_details.crdt_fact| currency}} F
                    CFA</span><em>[Remise : </em><span class="fg-red"
                    ng-hide='!creance_details.crdt_fact'><em>{{creance_details.remise_vnt_fact| currency}} F
                        CFA</em></span><em>]</em> | Date Operation : <span
                    class="fg-orange">{{creance_details.date_fact}}</span></legend>
            <table width="100%" border="0" style="padding:2px;" cellsacing="10">
                <tr>
                    <td><label>Date Reglement</label>
                        <div class="input-control text span2"><input type="text" placeholder="jj/mm/aaaa"
                                name="date_crce_clnt" ng-disabled="!app.PRMS.defdat"
                                ng-model="appreglement.date_crce_clnt" class="fg-orange"></div>
                    </td>
                    <td><label> Versement Avance </label>
                        <div class="input-control text span4" data-role="input-control"><input style=''
                                class="fg-cobalt" name="mnt_versement" placeholder="Versement" type="number"
                                ng-change="validMnt()" ng-model="appreglement.mnt_versement"></div>
                    </td>
                    <td><label> Remise Express </label>
                        <div class="input-control text span4" data-role="input-control"><input style=''
                                class="fg-cobalt" name="mnt_remise" placeholder="Remise Express" type="number"
                                ng-disabled="creance_details.bl_tva==1" ng-change="validRem()"
                                ng-model="appreglement.mnt_remise"></div>
                    </td>
                </tr>
                <tr>
                    <td><label> Creances Clients &nbsp;&nbsp;<span class="input-control text span2" style=""><input
                                    ng-model="filterItem" placeholder="filtre" type="text"></span></label>
                        <div class="input-control select span6" data-role="input-control"><select name='creance_clt'
                                ng-model="appreglement.creance_clt"
                                ng-options="creance.id_fact as creance.date_fact+' | '+creance.code_fact+' | '+creance.code_clt+' : '+creance.nom_clt+' | '+creance.mnt_reste|uppercase for creance in creances|filter:filterItem"
                                ng-change="getCreanceDetails(appreglement.creance_clt)" required></select><span
                                style="position:absolute;" title="Actualiser la liste des creanciers" class="icon-cycle"
                                ng-click="getCreancesClients()"></span><input name="id_clnt" type="hidden"
                                ng-model="creance_details.id_clt"></div>
                    </td>
                    <td><label>Document reference</label>
                        <div class="input-control textarea span4" data-role="input-control"><textarea
                                name="ref_crce_clnt" placeholder="Ex : Cheque No xxxxx ou versement No yyyyyyx "
                                ng-model="appreglement.ref_crce_clnt"></textarea></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label ng-hide='!creance_details.crdt_fact'> Somme versee </label>
                        <div class="input-control text span6" data-role="input-control"
                            ng-hide='!creance_details.crdt_fact'>
                            <div class="fg-white bg-green" style='padding:5px;font-size:30px;'>
                                {{creance_details.som_verse_crdt | currency}} F CFA</div>
                        </div>
                    </td>
                    <td colspan="2"><label ng-hide='!creance_details.crdt_fact'> Reste &agrave; payer </label>
                        <div style='padding:5px;font-size:30px;' class="bg-red fg-white"
                            ng-hide='!creance_details.crdt_fact'>
                            {{(creance_details.crdt_fact-creance_details.som_verse_crdt-appreglement.mnt_versement)|
                            currency}} F CFA</div>
                    </td>
                </tr>
                <tr>
                    <td><label ng-hide='!creance_details.crdt_fact'> Caissier </label>
                        <div class="input-control select span4" data-role="input-control"
                            ng-hide='!creance_details.crdt_fact'><span class="fg-brown">
                                {{creance_details.code_caissier_fact}} - {{creance_details.login_caissier_fact}}</span>
                        </div>
                    </td>
                    <td colspan="2" style='vertical-align: bottom;'>
                        <div align="left"><button class="primary span2" ng-click="save();"
                                ng-disabled="!appreglement.mnt_versement || working"><span
                                    class="icon-checkmark"></span> Verser</button><button class="success span2"
                                ng-click="saveRemise();"
                                ng-disabled="!appreglement.mnt_remise || working || creance_details.bl_tva==1"><span
                                    class="icon-flickr"></span> Remise</button><button class="inverse span2"
                                type="reset" class="button" ng-click='emptyForm()'><i
                                    class="icon-undo on-left on-left-more"></i>Annuler </button></div>
                    </td>
                </tr>
            </table><br />
            <div ng-hide='!creance_details.crdt_fact' id="div_details" style="max-height: 200px;overflow: auto;">
                <table class="table striped bordered condensed hovered">
                    <thead>
                        <th class='text-left'>Designation&nbsp;</th>
                        <th class='text-left'>Qte&nbsp;</th>
                        <th class='text-left'>Pu&nbsp;</th>
                        <th class='text-left'>Mnt&nbsp;</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in filtere=(details)">
                            <td>{{data.nom_art |uppercase}}</td>
                            <td>{{data.qte_vnt | uppercase}}</td>
                            <td>{{data.pu_theo_vnt |uppercase}}</td>
                            <td>{{data.mnt_theo_vnt |uppercase}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
</div>