<div class="grid">
    <div class="row">
        <div> 
            <nav class="navigation-bar white border-bottom">
                <div class="navigation-bar-content">
                    <a href="#/prmmag" class="element">
                        <span class="icon-list"></span> 
                        Liste des magasins
                    </a>
                    <span class="element-divider"></span>  
                    <div class="no-tablet-portrait" ng-show="magasin.id_mag">
                        <span class="element-divider"></span>
                        <a class="element brand" href="#/prmmag/0">
                            <span class="icon-plus-2"></span>
                            Nouveau magasin  
                        </a>
                        <span class="element-divider"></span>   
                        <a class="element brand place-right"> <span class="icon-pencil"></span> 
                            Modification du magasin : <span class='fg-active-green'>{{magasin.code_mag}}</span>
                        </a>
                    </div>
                </div>
            </nav>
            <!--end of nav class="navigation-bar white border"--> 
        </div> 

    </div>
    <!--end of class="row"--> 
</div> 
<!--end of class="grid"--> 
 

<div class="example">
    <form name="form">
        <fieldset>
            <legend>{{title}}</legend>

            <table  width="80%">
                <tr>
                    <td>
                        <label>Magasin</label>
                        <div class="input-control text span4" data-role="input-control">
                            <input name="nom_mag" placeholder="libelle" type="text" ng-model="magasin.nom_mag" required>
                            <button type="button" class="btn-clear" tabindex="-1"></button>
                        </div>
                    </td>
                    <td>
                        <label>Telephone</label>
                        <div class="input-control text span4" data-role="input-control">
                            <input name="tel_mag" placeholder="+00" type="text" ng-model="magasin.tel_mag">
                            <button type="button" class="btn-clear" tabindex="-1"></button>
                        </div>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Type</label>
                        <div class="input-control select span4" data-role="input-control" >
                            <select  ng-model="magasin.type_mag" ng-options="type.type as type.label|uppercase for type in types">
                            </select>  
                         </div>  
 
                    </td>
                    <td>
                        <label>Mobile</label>
                        <div class="input-control text span4" data-role="input-control">
                            <input name="mob_mag" placeholder="+00" type="text" ng-model="magasin.mob_mag">
                            <button type="button" class="btn-clear" tabindex="-1"></button>
                            
                        </div>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Pays</label>
                        <div class="input-control text span4" data-role="input-control" >
                            <input  name="pays_mag" ng-model="magasin.pays_mag" > 
                        </div>  
 
                    </td>
                    <td>
                        <label>Fax</label>
                        <div class="input-control text span4" data-role="input-control">
                            <input type="text" name="faxt_mag" placeholder="fax" ng-model="magasin.fax_mag" /> 
                         </div>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Ville</label>
                        <div class="input-control text span4" data-role="input-control">
                            <input name="ville_mag" placeholder="ville" type="text" ng-model="magasin.ville_mag">
                            <button type="button" class="btn-clear" tabindex="-1"></button>
                            
                        </div>  
                    </td>
                    <td>
                        <label>E-mail</label>
                        <div class="input-control text span4" data-role="input-control">
                            <input name="mail_mag" placeholder="Mail" type="email" ng-model="magasin.mail_mag">
                            <button type="button" class="btn-clear" tabindex="-1"></button> 
                        </div>  
                    </td>
                </tr>
                
                 <tr>
                    <td>
                        <label>Responsable</label>
                        <div class="input-control text span4" data-role="input-control">
                            <input name="resp_mag" placeholder="Responsable du magasin/Bout" type="text" ng-model="magasin.resp_mag">
                            <button type="button" class="btn-clear" tabindex="-1"></button>
                            
                        </div>  
                    </td>
                    <td>
                       <label>Titre du Responsable</label>
                        <div class="input-control text span4" data-role="input-control">
                            <input name="titre_resp_mag" placeholder="Titre Responsable" type="text" ng-model="magasin.titre_resp_mag">
                            <button type="button" class="btn-clear" tabindex="-1"></button>
                            
                        </div>  
                    </td>
                </tr>
            </table>  

            <button class="primary"
                    ng-click="save(magasin);" 
                    ng-disabled="isClean() || form.$invalid">
                <span class="icon-checkmark"></span> {{buttonText}}</button>
            &nbsp;
            <button class="danger"
                    ng-click="deleted(magasin)"
                    ng-show="magasin.id_mag"><span class="icon-cancel-2"></span> Supprimer</button>
        </fieldset>
    </form>
</div>


 


